In [13]:
import numpy as np
import pandas as pd
import re
import html
import os.path

In [7]:
file_location = './Data/Stocktwit Raw.csv'

In [8]:
st_raw = pd.read_csv(file_location, header=0, encoding = 'unicode_escape')

In [9]:
st_raw.head()

,Title,Title_link,st_2jbUWIi,st_3SL2gug,st_1NNeqUz,st_28bQfzV,st_1NNeqUz1,st_3xRimaf,lib_XwnOHoV,likes
0,jekoz,https://stocktwits.com/jekoz,https://s3.amazonaws.com/st-avatars/images/def...,$DIS nothing can get this over 140. Maybe $AAP...,$DIS,"Sep 17th, 8:40 am",$AAPL,NaN,NaN,NaN
1,sleekOptions,https://stocktwits.com/sleekOptions,https://avatars.stocktwits.com/production/1442...,$AAPL [Aug-30 210 Calls] up +30.43 % Alerted ...,$AAPL,"Sep 17th, 8:28 am",NaN,NaN,NaN,NaN
2,sleekOptions,https://stocktwits.com/sleekOptions,https://avatars.stocktwits.com/production/1442...,Peak profit for the last 6 expired option aler...,$AAPL,"Sep 17th, 8:26 am",NaN,NaN,NaN,NaN
3,sleekOptions,https://stocktwits.com/sleekOptions,https://avatars.stocktwits.com/production/1442...,"$AAPL Last six months, 41 option alerts peaked...",$AAPL,"Sep 17th, 8:25 am",NaN,NaN,NaN,NaN
4,klrkawa,https://stocktwits.com/klrkawa,https://avatars.stocktwits.com/production/1520...,$AAPL $ROKU $DE $HD $TGT down. Not looking go...,$AAPL,"Sep 17th, 8:11 am",$ROKU,1.0,Bearish,1.0

In [10]:
st = st_raw.iloc[:,3:]
st.drop(['st_1NNeqUz', 'st_1NNeqUz1', 'st_3xRimaf', 'lib_XwnOHoV'], inplace=True, axis=1)

In [11]:
st.columns=['message', 'datetime']

In [14]:
st.sort_values(by='datetime', ascending=False)

st['message'] = st['message'].apply(lambda x: html.unescape(x))
st['message'] = st['message'].apply(lambda x: re.sub(r'(www\.|https?://).*?(\s|$)|@.*?(\s|$)|\$.*?(\s|$)|\d|\%|\\|/|-|_', ' ', x))
st['message'] = st['message'].apply(lambda x: re.sub(r'\s+', ' ', x)) # remove spaces last because the above line will create a lot of repeated spaces

st.to_csv(file_location[:-4]+'_preprocessed.csv', index=False)

In [15]:
st_preprocessed = pd.read_csv('./Data/Stocktwit Raw_preprocessed.csv', header=0)

In [16]:
st_preprocessed.head()

                                             message           datetime
0   nothing can get this over . Maybe buyout will...  Sep 17th, 8:40 am
1   [Aug Calls] up + . Alerted at on Aug : AM Pea...  Sep 17th, 8:28 am
2  Peak profit for the last expired option alerts...  Sep 17th, 8:26 am
3   Last six months, option alerts peaked above p...  Sep 17th, 8:25 am
4   down. Not looking good for Tuesday. Fed will ...  Sep 17th, 8:11 am